
.active-cards-container {
    display: flex;
    flex-direction: row;
    .card {
        margin: 0 auto;
        max-width: 50px;
        
    }
    .zoom {
        transition: transform .2s;
      }
      
      .zoom:hover {
        -ms-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        transform: translateY(50px) scale(2.5); 
        z-index: 1;
      }

}