.game-container {
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "one two three";
    min-height: 85vh;

    .section-one, .section-two, .section-three {
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .playersProgress, .activeCards {
      border: 1px solid blue;
      height: 50%;
      width: 100%;
    }
    .door-cards, .treasure-cards {
      border: 1px solid green;
      height: 50%;
      width: 100%;
    }
}