
.cards-in-hand-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  li{
    border: 1px solid red;
    width: 10%;
    padding: 0;
  }
}


ul {
  list-style: none;
}
.zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(2.0); 
    z-index: 1;
  }